body {
  background: linear-gradient(149deg, #282828 10%, #74c0b7 56%, #95e88a 10%) center / cover no-repeat fixed, rgba(249, 224, 112, 0);
  background-image: linear-gradient(to right top, #d1b16b, #97ae60, #946d55, #87574b, #464076, #324274, #1c436f, #004368, #00506d, #005d70, #1d6970, #377470);
  -webkit-background-size: cover;
  -moz-background-size: cover;
}